.compact-form .p-field {
    margin-bottom: 8px;
}
.compact-form .p-field label {
    font-size: 0.85rem;
    font-weight: 600;
}
.compact-form .p-field input, .compact-form .p-field .p-dropdown {
    font-size: 0.9rem;
    padding: 6px 8px;
}
.p-button {
    padding: 6px 12px;
    font-size: 0.9rem;
}
.p-formgroup-inline .p-field-radiobutton {
    margin-right: 10px;
}
.forenax-wrapper{
    width: 1000px !important;
    margin: 0 auto;
}
.forenax-wrapper .grid {
    display: block;
}