.redemption-tracker {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
    color: #333;
}

.summary {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #28a745;
    border-radius: 5px;
    background-color: #e7ffe7;
}

.controls {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.input-field {
    flex: 1;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.button {
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #0056b3;
}

.summary h2 {
    color: #2c3e50; /* Darker text color for emphasis */
}

.summary h2:last-child {
    color: #e74c3c; /* Red color for remaining unredeemed amount to indicate caution */
}

.dashboard-container {
    margin: 2rem auto;
    padding: 1rem;
}
.p-card {
    border-radius: 8px;
}
.p-button {
    margin-top: 1rem;
}
.result{
    display: flex;
    justify-content: left;
    margin-top: 10px;
    margin-bottom: 10px;
}